html,body{
    background-color:#F0F7FC;
    min-height:650px;
}
body {
    background: url(../img/clouds.png) 50% 83px repeat-x,
                url(../img/bg.jpg) 0 -250px repeat-x;
}
.hidden {
  display:none;
}
.container {
  position: relative;
}
.navbar-fixed-top {
  position: absolute;
}
.logo {
    height:23px;
    float:left;
    margin:-4px 7px 0 0;
}
#flash {
  position:relative;
  top:50px;
}
#public {
  margin-top:60px;  
}
#signin {
  margin-bottom:10px;
  font-size:20px;
}
#signin i {
  margin: 5px 8px;
}
.hero-unit {
  background:rgba(255,255,255,.5);
  color:#012e5e;
}
#travel .pointer {
  position:absolute;
  top:40px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top:0;
  border-bottom: 20px solid white;
  opacity: 1;
  filter: alpha(opacity=100);
  content: "";
}
#travel #addtrip .pointer {
  left:195px;
}
#travel #mytrips .pointer {
  left:270px;
}
#travel #booktrip .pointer {
  left:345px;
}
.content {
  margin-top:60px;
  padding:20px 40px;
  background:rgba(255,255,255,1);
  border-radius:10px;
  box-shadow:rgba(0,0,0,.2) 0 5px 15px;
}
.place, input.date {
  width:263px !important;
}
#descr {
  width:583px;
}
.add-on {
  margin-bottom:9px;
}
.icon-calendar {
  background-position: -190px -119px;
}
.hint {
  margin:0 7px;
}
.underline {
  border-bottom:1px solid #eee;
  padding-bottom:5px;
  margin-bottom:10px;
}
.avatar {
  float:left;
  width:30px;
  margin:4px 5px;
  border-radius:15px;

}
.rightnav {
  float:right;
  margin-right:15px;
}
.rightnav a {
  white-space: nowrap;
}
#costin {
  margin-top:28px;
}
.padded-bottom {
  margin-bottom:10px;
}
input.date {
  background-color:#fff;
}
.status-btn {
  width:100px;
}
.logos {
  margin-left:0;
}
.logos .thumbnail {
  border:0;
  box-shadow:none;
}
.th-approver {
  min-width:100px;
}
.th-status {
  width:100px;
}
.th-amount {
  min-width:70px;
}
.th-dates, .th-trip {
  min-width:150px;
}
.micro-avatar {
  border-radius:20px;
}